@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer verRecurso;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">@verRecurso["textoSaludo"]</h2>
</div>
